<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search">
                <!-- <button class="btn search-button" type="submit"><i class="fas fa-search"></i> -->
                <button type="button" class="btn btn-outline-danger"><i class="fas fa-search"></i></button>
            </div>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-outline-danger"><i class="fas fa-plus"> Blog</i></button>
        </div>
    </div>
    <div class="row">
        <p>dünya</p>        
    </div>
</div>