.bg-navbar {
  background-color: #c53678;
}

.navbar-nav .nav-link:hover {
  color: #fac800 !important;
  transform: scale(1.1);
}

.my-navbar {
  height: 80px !important;
  
}

.logo {
  font-size: 18px; /* Varsayılan büyüklük */
}

@media (min-width: 576px) {
  /* Ekran genişliği 576 pikselden büyükse */
  .logo {
    font-size: 24px;
  }
}

@media (min-width: 992px) {
  /* Ekran genişliği 992 pikselden büyükse */
  .logo {
    font-size: 30px;
  }
}

.nav-link {
  color: white !important;
}

.navbar-nav {
  display: flex;
  justify-content: center;
}

.navbar-nav .nav-link {
  margin: 0 10px;
}

.navbar-nav .nav-link:hover{
  cursor: pointer;
}

.navbar-nav .instagram-icon:hover {
  cursor: pointer;
  color: #f30184 !important;
  background-color: #e7e9eb;
}

.navbar-nav .youtube-icon:hover {
  cursor: pointer;
  color: #ff0000 !important;
  background-color: #e7e9eb;
}

.navbar-nav .linkedin-icon:hover {
  cursor: pointer;
  background-color: #0a66c2 !important;
  color: #e7e9eb !important;
}

// .navbar-nav .social-media-icon-bg:hover {
//   cursor: pointer;
//   background-color: #f2f2f2;
// }

.transition {
  transition: 0.7s !important;
}

.transition:hover {
  transition: 0.7s !important;
}

.dropdown-item:hover {
  cursor: pointer;
}

.text{}