<nav class="navbar navbar-light navbar-expand-md bg-navbar justify-content-center my-navbar">
    <div class="container">
        <a href="/" class="navbar-brand d-flex w-50 me-auto logo text" style="color: #fac800;">Amfy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar3">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
            <ul class="navbar-nav w-100 justify-content-center">
                <li class="nav-item active">
                  <a class="nav-link transition text" (click)="navigateToPage('home')">Anasayfa</a>
                </li>
                <li></li>
                <li class="nav-item">
                  <a class="nav-link transition text" (click)="navigateToPage('resume')">Özgeçmişim</a>
                </li>
                <li></li>
                <li class="nav-item">
                  <a class="nav-link transition text" (click)="navigateToPage('projects')">Projeler</a>
                </li>
                <li></li>
                <li class="nav-item">
                  <a class="nav-link transition text" (click)="navigateToPage('blogs')">Bloglar</a>
                </li>
                <li></li>
                <li class="nav-item">
                  <a class="nav-link transition text" (click)="navigateToPage('communication')">İletişim</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ms-auto w-100 justify-content-end">
                <!-- <li class="nav-item social-media-icon-bg">
                  <a class="nav-link instagram-icon rounded-3" target="_blank" href="https://www.instagram.com/samet.ocsy/"><i class="fa-brands fa-instagram"></i></a>
                </li> -->
                <li class="nav-item social-media-icon-bg">
                  <a class="nav-link youtube-icon rounded-3 transition" target="_blank" href="https://www.youtube.com/@sametocsy"><i class="fa-brands fa-youtube"></i></a>
                </li>
                <li class="nav-item social-media-icon-bg">
                  <a class="nav-link linkedin-icon rounded-3 transition" target="_blank"href="https://www.linkedin.com/in/sametocsoy/"><i class="fa-brands fa-linkedin-in"></i></a>
                </li>
                <li class="nav-item dropdown" id="navbar-menu">
                  <a class="nav-link transition text" href="#" id="languageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dil <i class="fa fa-thin fa-caret-down"></i></a>
                  <div class="dropdown-menu" aria-labelledby="languageDropdown">
                    <a class="dropdown-item"><img src=".\assets\images\languages-flag\tr.svg" alt="Turkey"> Türkçe</a>
                    <a class="dropdown-item"><img src=".\assets\images\languages-flag\gb-eng.svg" alt="United Kingdom"> English</a>
                    <a class="dropdown-item"><img src=".\assets\images\languages-flag\de.svg" alt="Germany"> Deutsch</a>
                  </div>
                </li>
            </ul>
        </div>
    </div>
</nav>